@model Amana.ViewModels.S_ChangePassword

<h1>@Amana.GlobalResources.Users.ChangePassword</h1>

@using (Html.BeginForm("AccountPassword", "Home", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-group">
        @Html.LabelFor(model => model.OldPassword, Amana.GlobalResources.Users.CurrentPassword)
        <div class="col-md-7">
            @Html.PasswordFor(model => model.OldPassword)
            @Html.ValidationMessageFor(model => model.OldPassword)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Password, Amana.GlobalResources.Users.NewPassword)
        <div class="col-md-7">
            @Html.PasswordFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.ConfirmPassword, Amana.GlobalResources.Users.ConfirmNewPassword)
        <div class="col-md-7">
            @Html.PasswordFor(model => model.ConfirmPassword)
            @Html.ValidationMessageFor(model => model.ConfirmPassword)
        </div>
    </div>

    <div class="form-group">
        <div>
            <input type="submit" value="@Amana.GlobalResources.Cpanel.Save" class="lnkCreate lnkInline" />
        </div>
    </div>
}