@model PagedList.IPagedList<Amana.Models.Entities.C_CategoriesLoc>
@using PagedList.Mvc;

@{
    Layout = "_Layout.cshtml";
    int langId = ViewBag.LangId;
    var parentId = Request.QueryString["parentId"];
    var catVocId = ViewContext.RouteData.Values["id"];
    var pageNum = Request.QueryString["page"];
    Amana.Models.Entities.C_CategoryVocabularies catVocabulary = ViewBag.CatVocabulary;
    Amana.Models.Entities.C_CategoriesLoc parentCat = ViewBag.ParentCat;
}

<h1>
    @Html.ActionLink(@Amana.GlobalResources.Cpanel.CatVocabularies, "Index", "C_CategoryVocabularies")
    >>
    @if (parentCat != null)
    {
        if (parentCat.C_Categories.C_Categories2 != null)
        {
            @Html.ActionLink(parentCat.C_Categories.C_Categories2.C_CategoriesLoc.FirstOrDefault(x => x.LanguageId == langId).Title, "Index", new { id = catVocId, parentId = parentCat.C_Categories.C_Categories2.CatId })
        }
        else
        {
            @Html.ActionLink(parentCat.C_Categories.C_CategoryVocabularies.Title, "Index", new { id = catVocId })
        }
        <text> >> </text>
        @parentCat.Title
    }
    else
    {
        @catVocabulary.Title
    }
</h1>
<div class="sep100x100"></div>

@Html.ActionLink(@Amana.GlobalResources.Cpanel.Create + " »", "Create", new { catVocId = catVocId, parentId = parentId }, new { @class = "lnkCreate" })

@if (Model.Count > 0)
{
    using (Html.BeginForm("UpdateNum", "C_Categories", new { catVocId = catVocId, parentId = parentId }))
    {
        <div class="table-responsive">
            <table class="tblView">
                <tr>
                    <th>
                        @Html.ActionLink(@Amana.GlobalResources.Cpanel.Title, "Index", new { sortOrder = ViewBag.TitleSortParam, currentFilter = ViewBag.CurrentFilter }) <span><img src="~/Content/Admin/images/icoSort.png" /></span>
                    </th>
                    <th>
                        @Amana.GlobalResources.Cpanel.Order
                    </th>
                    <th>
                        @Amana.GlobalResources.Cpanel.IsActive ?
                    </th>
                    <th class="settings"><img src="~/Content/Admin/images/icoSettings.png" alt="" /></th>
                </tr>

                @{
        int i = 0;
        foreach (var item in Model)
        {
            <tr class="@(i % 2 == 0 ? "odd" : "even")">
                <td>
                    @Html.DisplayFor(modelItem => item.Title) <span class="notTranslated">@(!item.IsTranslated ? Amana.GlobalResources.Cpanel.NotTranslated : "")</span>
                </td>
                <td>
                    <input type="hidden" name="entity[@(i)].CatId" value="@Model.ElementAt(i).CatId" />
                    <input type="text" id="entity[@(i)].C_Categories.NumOrder" name="entity[@(i)].C_Categories.NumOrder" value="@Model.ElementAt(i).C_Categories.NumOrder" class="txt-table-small" data-val="true" data-val-required="@Amana.GlobalResources.Cpanel.Required" data-val-regex-pattern="^[\-\+]?\d+$" data-val-number="@Amana.GlobalResources.Validation.Integer" />
                    <div>
                        @Html.ValidationMessage("entity[" + i + "].NumOrder")
                    </div>
                </td>
                <td>
                    @Html.ActionLink(" ", "Activate", new { id = item.CatId, parentId = parentId, page= pageNum }, new { @class = item.C_Categories.IsActive ? "activated" : "notActivated" })
                </td>
                <td>
                    @if (parentId == null)
                    {
                        @Html.ActionLink(@Amana.GlobalResources.Cpanel.Categories, "Index", new { id = item.C_Categories.CatVocId, parentId = item.CatId }) <text> | </text>
                    }
                    @Html.ActionLink(@Amana.GlobalResources.Cpanel.Edit, "Create", new { id = item.CatId, catVocId = item.C_Categories.CatVocId, parentId = parentId }) |
                    @Html.ActionLink(@Amana.GlobalResources.Cpanel.Delete, "Delete", new { id = item.CatId, catVocId = item.C_Categories.CatVocId, parentId = parentId })
                </td>
            </tr>
                    i++;
        }
                }

            </table>
        </div>

        <div class="sep100x100"></div>
        <div class="form-group">
            <div>
                <input type="submit" value="@Amana.GlobalResources.Cpanel.Save" class="lnkCreate" />
            </div>
        </div>
    }
}


@if (Model.TotalItemCount > Model.PageSize)
{
    <p style="text-align:center; margin:10px 0;">@Amana.GlobalResources.Cpanel.Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) @Amana.GlobalResources.Cpanel.Of @Model.PageCount</p>

    @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
}