@model Amana.ViewModels.Classifications.AdditionalRequirementsViewModel
@using Amana.Models.Helpers;
@using Amana.GlobalResources; 

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout2.cshtml";
    Amana.Models.Entities.Cls_FactoryClassifications classificationItem = (Amana.Models.Entities.Cls_FactoryClassifications)ViewBag.ClassificationItem;
}
@section sectionSubHeader{

    <div class="kt-subheader__main">
        <h3 class="kt-subheader__title">
            @Cpanel.Classification
        </h3>
        <span class="kt-subheader__separator kt-hidden"></span>
        <div class="kt-subheader__breadcrumbs">
            <a href="#" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
            <span class="kt-subheader__breadcrumbs-separator"></span>
            <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active"> @Cpanel.FactoryDataEntry</span>
            <span class="kt-subheader__breadcrumbs-separator"></span>
            <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">
              @Cpanel.SupplementaryRequirements
            </span>

        </div>
    </div>
}

<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content" style="padding:0px;">

    <!--Begin::App-->
    <div class="kt-grid kt-grid--desktop kt-grid--ver kt-grid--ver-desktop kt-app">
        @if (classificationItem != null)
        {

            <div class="col-md-4">
                @Html.Partial("_ClassificationItem", classificationItem);
            </div>

        }

        <div class="col-md-8">

            <div class="row">
                <div class="col-lg-12">
                    <!--begin::Portlet-->
                    <div class="kt-portlet">
                        <div class="kt-portlet__head">
                            <div class="kt-portlet__head-label">
                                <h3 class="kt-portlet__head-title">
                                    @Cpanel.SupplementaryRequirements

                                </h3>
                            </div>
                        </div>


                        <!--begin::Form-->
                        <div class="kt-portlet__body">
                            @if (ViewBag.Success == true)
                            {
                                @Html.Partial("~/Areas/Admin/Views/Shared/UcSuccess.cshtml")
                            }
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item">
                                    <a id="kt_link_1" class="nav-link active" data-toggle="tab" href="#" data-target="#kt_tabs_1">@Cpanel.EquipmentFeatures</a>
                                </li>

                                <li class="nav-item">
                                    <a id="kt_link_2" class="nav-link" data-toggle="tab" href="#kt_tabs_2">@Cpanel.MixStation</a>
                                </li>

                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="kt_tabs_1" role="tabpanel">
                                    @using (Html.BeginForm("AdditionalRequirements", "FactoryClassification", FormMethod.Post, new { enctype = "multipart/form-data", @class = "kt-form kt-form--label-right" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary(true)
                                        @Html.HiddenFor(model => model.ClassificationId)

                                        <div class="kt-portlet__body">
                                            <div class="kt-section kt-section--first">

                                                <h3 class="kt-section__title">
                                                    1.   @Cpanel.AdministrativeOrganization
                                                    :
                                                </h3>
                                                <div class="kt-checkbox-list">
                                                    @foreach (var item in Model.ListProp10)
                                                    {
                                                        Html.RenderPartial("_ClsProperty", item);
                                                    }

                                                </div>
                                                <div class="kt-separator kt-separator--border-dashed kt-separator--space-lg kt-separator--portlet-fit"></div>
                                                <h3 class="kt-section__title">
                                                    2.   @Cpanel.LocationPrecautions
                                                    :
                                                </h3>
                                                <div class="kt-checkbox-list">
                                                    @foreach (var item in Model.ListProp11)
                                                    {
                                                        Html.RenderPartial("_ClsProperty", item);
                                                    }

                                                </div>
                                                <div class="kt-separator kt-separator--border-dashed kt-separator--space-lg kt-separator--portlet-fit"></div>
                                                <h3 class="kt-section__title">
                                                    3.   @Cpanel.MaterialStorage
                                                    :
                                                </h3>
                                                <div class="kt-checkbox-list">
                                                    @foreach (var item in Model.ListProp12)
                                                    {
                                                        Html.RenderPartial("_ClsProperty", item);
                                                    }

                                                </div>
                                                <div class="kt-separator kt-separator--border-dashed kt-separator--space-lg kt-separator--portlet-fit"></div>
                                                <h3 class="kt-section__title">
                                                    4.   @Cpanel.ConcreteMixerTrucks
                                                    :
                                                </h3>
                                                <div class="kt-checkbox-list">
                                                    @foreach (var item in Model.ListProp15)
                                                    {
                                                        Html.RenderPartial("_ClsProperty", item);
                                                    }

                                                </div>
                                                <div class="kt-separator kt-separator--border-dashed kt-separator--space-lg kt-separator--portlet-fit"></div>
                                                <h3 class="kt-section__title">
                                                    5.   @Cpanel.PrecautionsForConcrete
                                                    :
                                                </h3>
                                                <div class="kt-checkbox-list">
                                                    @foreach (var item in Model.ListProp16)
                                                    {
                                                        Html.RenderPartial("_ClsProperty", item);
                                                    }

                                                </div>
                                                <div class="kt-separator kt-separator--border-dashed kt-separator--space-lg kt-separator--portlet-fit"></div>
                                                <h3 class="kt-section__title">
                                                    6.  @Cpanel.BillingSystem
                                                    :
                                                </h3>
                                                <div class="kt-checkbox-list">
                                                    @foreach (var item in Model.ListProp17)
                                                    {
                                                        Html.RenderPartial("_ClsProperty", item);
                                                    }

                                                </div>

                                            </div>




                                        </div>
                                        <div class="kt-portlet__foot">
                                            <div class="kt-form__actions">
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <input type="submit" value="@Amana.GlobalResources.Cpanel.Save" class="btn btn-warning" />

                                                    </div>
                                                    @*<div class="col-lg-6 kt-align-right">
                                                            <button type="reset" class="btn btn-danger">Delete</button>
                                                        </div>*@
                                                </div>
                                            </div>
                                        </div>

                                    }


                                </div>
                                <div class="tab-pane" id="kt_tabs_2" role="tabpanel">
                                    <div class="kt-portlet__head kt-portlet__head--lg kt-padding-0">
                                        <div class="kt-portlet__head-label">
                                            <span class="kt-portlet__head-icon">
                                                <i class="kt-font-brand flaticon2-analytics"></i>
                                            </span>

                                            <h3 class="kt-portlet__head-title">
                                              @Cpanel.MixStations
                                            </h3>

                                        </div>
                                        <div class="kt-portlet__head-toolbar">
                                            <div class="kt-portlet__head-wrapper">
                                                <div class="kt-portlet__head-actions">

                                                    <a onclick="ShowFormsModal('@Url.Action("AddMixingStations",new {classificationId= classificationItem.ClassificationId})')" href="javascript:void();" class="btn btn-brand btn-elevate btn-icon-sm">
                                                        <i class="la la-plus"></i>
                                                        @Cpanel.Create
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    @if (classificationItem.Cls_MixingStations.Count > 0)
                                    {
                                    <table class="table table-striped- table-bordered table-hover table-checkable" id="kt_table_1">
                                        <thead>
                                            <tr>
                                                <th>@Cpanel.MixStationNo</th>
                                                <th>@Cpanel.MixerType</th>
                                               

                                               
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                int i = 0;
                                                foreach (var item in classificationItem.Cls_MixingStations)
                                                {
                                                    i++;
                                                    <tr>
                                                        <td>
                                                            @(item.StationNumber)
                                                        </td>
                                                        <td>
                                                            @(item.MixerType== 1 ? Cpanel.CentralMixer : Cpanel.MixingInTruck )
                                                        </td>
                                                       
                                                        <td nowrap>

                                                            <a onclick="ShowFormsModal('@Url.Action("AddMixingStations",new {id=item.StationId ,classificationId= item.ClassificationId})')" href="javascript:void();" class="btn btn-success btn-sm mr-2">

                                                                @Cpanel.Edit
                                                            </a>


                                                            <a href="@Url.Action("DeleteMixingStation", new { id = item.StationId })" onclick="return confirm('سيتم الحذف, هل أنت متاكد ؟');" class="btn btn-danger btn-sm mr-2">@Amana.GlobalResources.Cpanel.Delete</a>

                                                        </td>
                                                    </tr>
                                                }
                                            }

                                        </tbody>
                                    </table>
                                    }
                                </div>

                            </div>
                        </div>


                        <!--end::Form-->
                    </div>


                </div>
            </div>
        </div>


    </div>

    <!--End::App-->
</div>
@section sectionScripts{
    <script>
        $(document).ready(function () {
            $("#lnkAdditionalRequirements").addClass("kt-widget__item--active");
        });

    </script>
}





