@model Amana.ViewModels.Classifications.Cls_FinalSummaryViewModel
@using Amana.Models.Helpers;
@using Amana.GlobalResources;

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout2.cshtml";
    Amana.Models.Entities.Cls_FactoryClassifications classificationItem = (Amana.Models.Entities.Cls_FactoryClassifications)ViewBag.ClassificationItem;

}
@section sectionSubHeader{

    <div class="kt-subheader__main">
        <h3 class="kt-subheader__title">

            @Cpanel.Classification
        </h3>
        <span class="kt-subheader__separator kt-hidden"></span>
        <div class="kt-subheader__breadcrumbs">
            <a href="#" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
            <span class="kt-subheader__breadcrumbs-separator"></span>
            <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active"> @Cpanel.FactoryDataEntry</span>
            <span class="kt-subheader__breadcrumbs-separator"></span>
            <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">
                @Cpanel.FinalClassificationStatement
            </span>

        </div>
    </div>
}

<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content" style="padding:0px;">

    <!--Begin::App-->
    <div class="kt-grid kt-grid--desktop kt-grid--ver kt-grid--ver-desktop kt-app">
        @if (classificationItem != null)
                {

        <div class="col-md-4">
            @Html.Partial("_ClassificationItem", classificationItem);
        </div>

                }

        <div class="col-md-8">

            <div class="row">
                <div class="col-lg-12">
                    <!--begin::Portlet-->
                    <div class="kt-portlet">
                        <div class="kt-portlet__head">
                            <div class="kt-portlet__head-label">
                                <h3 class="kt-portlet__head-title">

                                    @Cpanel.FinalClassificationStatement

                                </h3>
                            </div>
                        </div>


                        <!--begin::Form-->
                        <div class="kt-portlet__body">
                            @if (ViewBag.Success == true)
{
                                @Html.Partial("~/Areas/Admin/Views/Shared/UcSuccess.cshtml")
}


                            @using (Html.BeginForm("FinalSummary", "FactoryClassification", FormMethod.Post, new { enctype = "multipart/form-data", @class = "kt-form kt-form--label-right" }))
{
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true)
                                @Html.HiddenFor(model => model.ClassificationId)

                                <div class="kt-portlet__body">
                                    <div class="kt-section kt-section--first">

                                        <div class="form-group row">

                                            <label class="col-3 col-form-label">
                                                @Cpanel.Classification
                                                :
                                            </label>
                                            <div class="col-9">
                                                @Html.TextAreaFor(model => model.ClassificationText, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.ClassificationText)
                                            </div>



                                        </div>
                                        <div class="form-group row">

                                            <label class="col-3 col-form-label">
                                              @Cpanel.ClassificationDegree

                                                :
                                            </label>
                                            <div class="col-9">
                                                <div class="kt-radio-inline">
                                                    <label class="kt-radio kt-radio--brand">
                                                        @Html.RadioButtonFor(model => model.ClassificationGrade, 0) @Cpanel.NotDefined
                                                        <span></span>
                                                    </label>
                                                    <label class="kt-radio kt-radio--brand">
                                                        @Html.RadioButtonFor(model => model.ClassificationGrade, 1) @Cpanel.Unclassified
                                                        <span></span>
                                                    </label>
                                                    <label class="kt-radio kt-radio--brand">
                                                        @Html.RadioButtonFor(model => model.ClassificationGrade, 2) @Cpanel.A
                                                        <span></span>
                                                    </label>
                                                    <label class="kt-radio kt-radio--brand">
                                                        @Html.RadioButtonFor(model => model.ClassificationGrade, 3) @Cpanel.B
                                                        <span></span>
                                                    </label>
                                                    <label class="kt-radio kt-radio--brand">
                                                        @Html.RadioButtonFor(model => model.ClassificationGrade, 4) @Cpanel.C
                                                        <span></span>
                                                    </label>
                                                    <label class="kt-radio kt-radio--brand">
                                                        @Html.RadioButtonFor(model => model.ClassificationGrade, 5) @Cpanel.Blocked
                                                        <span></span>
                                                    </label>
                                                </div>
                                                @Html.ValidationMessageFor(model => model.ClassificationGrade)
                                            </div>
                                        </div>

                                        @*<div class="kt-separator kt-separator--border-dashed kt-separator--space-lg kt-separator--portlet-fit"></div>
                                            <h3 class="kt-section__title">
                                                تقويم نتائج قابلية التشغيل الهبوط ومقاومة الضغط
                                                :
                                            </h3>*@


                                    </div>
                                </div>
                                <div class="kt-portlet__foot">
                                    <div class="kt-form__actions">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <input type="submit" value="@Amana.GlobalResources.Cpanel.Save" class="btn btn-warning" />

                                            </div>
                                            @*<div class="col-lg-6 kt-align-right">
                                                    <button type="reset" class="btn btn-danger">Delete</button>
                                                </div>*@
                                        </div>
                                    </div>
                                </div>

}

                        </div>


                        <!--end::Form-->
                    </div>


                </div>
            </div>
        </div>


    </div>

    <!--End::App-->
</div>
@section sectionScripts{
    <script>
        $(document).ready(function () {
            $("#lnkFinalSummary").addClass("kt-widget__item--active");
        });

    </script>
}





