@model  List<Amana.Models.Entities.Visits>
@using Amana.Models.Utilities;
@using Amana.GlobalResources;
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout2.cshtml";
    //startDate=DateTime.Now

    string startDate = string.IsNullOrEmpty(Request["startDate"]) ? DateTime.Now.ToString("dd/MM/yyyy") : Request["startDate"].ToString();
    string endDate = string.IsNullOrEmpty(Request["endDate"]) ? HelperMethods.GetLastDayInMonth(DateTime.Now).ToString("dd/MM/yyyy") : Request["endDate"].ToString();
}
@section sectionSubHeader{

    <div class="kt-subheader__main noPrint">
        <h3 class="kt-subheader__title">
            @Cpanel.Reports
        </h3>
        <span class="kt-subheader__separator kt-hidden"></span>
        <div class="kt-subheader__breadcrumbs">
            <a href="#" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
            @*<span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="" class="kt-subheader__breadcrumbs-link">
                    قائمة
                </a>*@
            <span class="kt-subheader__breadcrumbs-separator"></span>
            <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active"> @Cpanel.PeriodSummaryResults</span>

        </div>
    </div>
}

<div class="kt-portlet kt-portlet--mobile">
    <div class="kt-portlet__head kt-portlet__head--lg">
        <div class="kt-portlet__head-label">
            <span class="kt-portlet__head-icon">
                <i class="kt-font-brand flaticon2-line-chart"></i>
            </span>

            <h3 class="kt-portlet__head-title">
                @Cpanel.PeriodSummaryResults
            </h3>

        </div>
        <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-wrapper">
                <div class="kt-portlet__head-actions">
                    @*<a href="@Url.Action("Create")" class="btn btn-brand btn-elevate btn-icon-sm">
                            <i class="la la-plus"></i>
                            إضافة
                        </a>*@
                </div>
            </div>
        </div>
    </div>

    <div class="kt-portlet__body" id="myDivToPrint ">
        @if (ViewBag.Success == true)
        {
            @Html.Partial("~/Areas/Admin/Views/Shared/UcSuccess.cshtml")
        }
        <!--begin: Search Form -->

        <div class="row align-items-center">

            <div class="col-xl-12 order-2 order-xl-1">
                <div class="row align-items-center">

                    <div class="col-md-3 kt-margin-b-20-tablet-and-mobile">
                        <div class="kt-form__control">
                            <label>@Cpanel.From </label>
                            <input id="startDate" name="startDate" type="text" class="form-control kt_datepicker_1" value="@startDate" />
                        </div>
                    </div>
                    <div class="col-md-3 kt-margin-b-20-tablet-and-mobile">
                        <div class="kt-form__control">
                            <label>@Cpanel.To </label>
                            <input id="endDate" name="endDate" type="text" class="form-control kt_datepicker_1" value="@endDate" />
                        </div>
                    </div>
                    <div class="col-md-2 kt-margin-b-20-tablet-and-mobile">
                        <div class="kt-form__control">
                            <label>
                                @Cpanel.Location
                                :
                            </label>
                            @Html.DropDownList("ddlLocations", ViewData["LocationsLst"] as SelectList, @Amana.GlobalResources.Cpanel.ChooseOption, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-3 kt-margin-b-20-tablet-and-mobile">
                        <div class="kt-form__control">
                            <label>
                               @Cpanel.FactoryName
                                :
                            </label>
                            @Html.DropDownList("factoryId", ViewData["FactoriesLst"] as SelectList, @Amana.GlobalResources.Cpanel.ChooseOption, new { @class = "form-control select2control", @onchange = "this.form.submit();" })
                        </div>
                    </div>
                    <div class="col-md-1 noPrint">
                        <input id="btnSearch" type="button" value="@Cpanel.ViewReport" class="btn btn-success btn-sm kt-mt-20" />
                    </div>

                </div>
            </div>


        </div>


        <div class="row align-items-center kt-mt-10">

            <div id="divReport" style="text-align:center;width:830px;margin:auto">
            </div>

        </div>

    </div>
</div>

@section sectionScripts{
    <script>
        $("#liReports").addClass("kt-menu__item--open");
    </script>

    <script>
        $(function () {
            $('#btnSearch').click(function () {

                var searchText = $("#startDate").val();
                var endDt = $("#endDate").val();
                var fId = $("#factoryId").val();
                if (searchText != '' && endDt != '') {
                    //ASPX page URL to load report
                    var src = '/Reports/SamplesSummary.aspx?';
                    //We can add parameters here
                    src = src + "startDate=" + searchText + "&endDate=" + endDt + "&fId=" + fId;

                    //Create a dynamic iframe here and append this to div tag
                    var iframe = '<iframe id="reportFrame" width="100%" height="1250px" style="border:1px solid #ccc;" scrolling="no" frameborder="0" src="' + src + '" allowfullscreen></iframe>';
                    $("#divReport").html(iframe);
                }

            });


            $('#ddlLocations').change(function () {
                $.ajax({
                    type: "post",
                    url: "/ar/Admin/Factorys/GetFactoriesByLocation",
                    data: { locationId: $('#ddlLocations').val() },
                    datatype: "json",
                    traditional: true,
                    success: function (data) {
                        var district = "<select id='FactoryId'>";
                        district = district + '<option value="">--اختر--</option>';
                        for (var i = 0; i < data.length; i++) {
                            district = district + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
                        }
                        district = district + '</select>';
                        $('#factoryId').html(district);
                    }
                });
            });
        });
    </script>
}





