@model Amana.Models.Entities.MD_IdxMaterials
@using Amana.GlobalResources;

@{
    Layout = null;
}
<div class="modal-header">
    <h1 class="modal-title">@Cpanel.Create</h1>
</div>
@using (Html.BeginForm("AddMdMaterials", "Settings", FormMethod.Post, new { enctype = "multipart/form-data", @class = "kt-form kt-form--label-right" }))
{
    @Html.HiddenFor(model => model.MaterialId)
    @Html.HiddenFor(model => model.TypeId)
    @Html.HiddenFor(model => model.NumOrder)
    <div class="modal-body">

        @if (ViewBag.Success == true)
        {
            @Html.Partial("~/Areas/Admin/Views/Shared/UcSuccess.cshtml")
        }
        <div class="form-group row">
            <div class="col-lg-6">
                @Html.LabelFor(model => model.Name, Cpanel.Name)
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>
        <div class="form-group row">
            <div class="col-lg-6">
                @Html.LabelFor(model => model.IsActive, @Amana.GlobalResources.Cpanel.IsActive + " ?")
                @Html.CheckBoxFor(model => model.IsActive, new { @checked = true })
            </div>
        </div>

    </div>

    <div class="modal-footer">
        <div>
            <input type="submit" value="@Cpanel.Save" class="btn btn-warning" />

            <input type="button" value="@Cpanel.Close" data-dismiss="modal" class="btn btn-danger" />
        </div>
    </div>

}