@model Amana.ViewModels.Settings.StngPeriodicPropertyViewModel
@using Amana.GlobalResources;

@{
    Layout = null;
}
<div class="modal-header">
    <h1 class="modal-title">@Cpanel.Create</h1>
</div>
@using (Html.BeginForm("AddPeriodicProperty", "Settings", FormMethod.Post, new { enctype = "multipart/form-data", @class = "kt-form kt-form--label-right" }))
{
    <div class="modal-body">

        @if (ViewBag.Success == true)
        {
            @Html.Partial("~/Areas/Admin/Views/Shared/UcSuccess.cshtml")
        }
        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.LabPropertyId)
        <div class="form-group row">

            <div class="col-lg-6">
                @Html.LabelFor(model => model.PeriodicPropertyId, Cpanel.Type)
                @Html.DropDownListFor(model => model.PeriodicPropertyId, ViewData["PeriodicProperties"] as SelectList, @Amana.GlobalResources.Cpanel.ChooseOption, new Dictionary<string, object> { { "data-val", "true" }, { "data-val-required", @Amana.GlobalResources.Cpanel.Required }, { "class", "form-control" } })
                @Html.ValidationMessageFor(model => model.PeriodicPropertyId)
            </div>
        </div>

        <div class="form-group row">
            <div class="col-lg-6">

                @Html.LabelFor(model => model.PropertyWeight, Cpanel.Degree)

                @Html.EditorFor(model => model.PropertyWeight, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PropertyWeight, "", new { @class = "text-danger" })

            </div>

        </div>

        <div class="row">
            <div class="col-lg-6">

            </div>
            @*<div class="col-lg-6 kt-align-right">
                    <button type="reset" class="btn btn-danger">Delete</button>
                </div>*@
        </div>

    </div>

    <div class="modal-footer">
        <div>
            <input type="submit" value="@Cpanel.Save" class="btn btn-warning" />

            <input type="button" value="@Cpanel.Close" data-dismiss="modal" class="btn btn-danger" />
        </div>
    </div>

}