@model List<Amana.Models.Entities.IdxConcreteClass>
@using Amana.GlobalResources;
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout2.cshtml";

}
@section sectionSubHeader{

    <div class="kt-subheader__main">
        <h3 class="kt-subheader__title">
            @Cpanel.Settings
        </h3>
        <span class="kt-subheader__separator kt-hidden"></span>
        <div class="kt-subheader__breadcrumbs">
            <a href="#" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>

            <span class="kt-subheader__breadcrumbs-separator"></span>
            @*<a href="" class="kt-subheader__breadcrumbs-link">
                    @Model.PropertyText
                </a>*@
            <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">    @Cpanel.ConcreteClasses</span>
        </div>
    </div>
}
<div class="kt-portlet kt-portlet--mobile">
    <div class="kt-portlet__head kt-portlet__head--lg">
        <div class="kt-portlet__head-label">
            <span class="kt-portlet__head-icon">
                <i class="kt-font-brand flaticon2-line-chart"></i>
            </span>

            <h3 class="kt-portlet__head-title">
                @Cpanel.ConcreteClasses
            </h3>

        </div>
        <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-wrapper">
                <div class="kt-portlet__head-actions">

                    <a onclick="ShowFormsModal('@Url.Action("AddConcreteClass")')" href="javascript:void();" class="btn btn-brand btn-elevate btn-icon-sm">
                        <i class="la la-plus"></i>
                        @Cpanel.Create
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="kt-portlet__body">
        @if (ViewBag.Success == true)
        {
            @Html.Partial("~/Areas/Admin/Views/Shared/UcSuccess.cshtml")
        }
        <!--begin: Datatable -->
        @if (Model.Count > 0)
        {
            <table class="table table-striped- table-bordered table-hover table-checkable" id="kt_table_1">
                <thead>
                    <tr>
                        <th>@Cpanel.ConcreteClass</th>

                        <th>
                            
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @{
                        int i = 0;
                        foreach (var item in Model)
                        {
                            i++;
                            <tr>
                                <td>
                                    @item.Name
                                </td>

                                <td nowrap>

                                    @*<a onclick="ShowFormsModal('@Url.Action("AddConcreteClass",new {id=item.ClassNumber })')" href="javascript:void();">

                                            تعديل
                                        </a>

                                        |*@
                                    <a href="@Url.Action("DeleteConcreteClass", new { id = item.ClassNumber })" onclick="return confirm('سيتم الحذف, هل أنت متاكد ؟');">@Amana.GlobalResources.Cpanel.Delete</a>

                                </td>
                            </tr>
                        }
                    }

                </tbody>
            </table>
        }
        <!--end: Datatable -->
    </div>
</div>

@section sectionScripts{
 

    <script>
   
        $(document).ready(function () {
        

            $("#liSettings").addClass("kt-menu__item--open");
            $("#liGeneralSettings").addClass("kt-menu__item--open");

        });
    </script>
}





